@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  @apply relative;
  @apply w-auto !important;
}

.react-datepicker__header {
  @apply bg-zinc-800 !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply text-zinc-500 font-semibold text-lg !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  @apply text-zinc-500 !important;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__month-container {
  @apply flex flex-col bg-zinc-800 text-yellow-400;
}

.react-datepicker__month {
  @apply flex flex-col bg-zinc-800 text-red-500;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-green-600 bg-zinc-800;
}

.react-datepicker__week {
  @apply flex justify-around bg-zinc-800 text-yellow-400;
}

.react-datepicker__day-names {
  @apply flex justify-around text-red-400 font-medium text-center text-xs bg-zinc-800;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full bg-zinc-800 text-yellow-400;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 transition flex items-center justify-center hover:bg-gray-200 rounded-full;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-blue-500 rounded;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-purple-600;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-blue-500;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-blue-500;
}

.react-datepicker__day--selected {
  @apply bg-transparent text-purple-500 font-bold bg-purple-600 bg-opacity-10 focus:border-none !important;
}

.react-datepicker__day--range-start {
}

.react-datepicker__day--range-end {
}

.react-datepicker__navigation-icon--previous::before {
  right: -3px !important;
  top: 11px !important;
}
.react-datepicker__navigation-icon--next::before {
}

.react-datepicker__triangle {
  display: none !important;
}
